<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Pacifico&display=swap" rel="stylesheet">
    <title>SoRi-olryeo</title>
</head>

<body>
    <div class="wraper">
        <header class="page-header">
            <h1 class="page-title">
                <a href="/" class="page-logo">SoRi-olryeo</a>
            </h1>
        </header>
        <div class="main-container">
            <div class="card-wraper">
                <div class="main-card">
                    <a href="/search/text" class="main-card-item">
                        자연어 추천
                    </a>
                </div>
            </div>
            <div class="card-wraper">
                <div class="main-card">
                    <a href="/search/cam" class="main-card-item">
                        이미지 추천
                    </a>
                </div>
            </div>
        </div>
        <footer class="page-footer">
            <p>boostcamp 2020</p>
        </footer>
    </div>
</body>

</html>